USE [master]
GO
/****** Object:  Database [KR_FILIPPOV ]    Script Date: 09.12.2022 15:56:01 ******/
CREATE DATABASE [KR_FILIPPOV ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KR_FILIPPOV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KR_FILIPPOV .mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KR_FILIPPOV _log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KR_FILIPPOV _log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KR_FILIPPOV ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KR_FILIPPOV ]
GO
/****** Object:  Table [dbo].[BILET/PRICE]    Script Date: 09.12.2022 15:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILET/PRICE](
	[ID STRANA] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [nvarchar](max) NULL,
	[Kyda] [nvarchar](max) NULL,
	[Otkyda] [nvarchar](max) NULL,
	[Vrema otpravki] [nvarchar](max) NULL,
	[ID SOTRUDNIKA] [int] NULL,
	[ID CLIENT] [int] NULL,
	[ID BILETA] [int] NULL,
 CONSTRAINT [PK_BILET/PRICE] PRIMARY KEY CLUSTERED 
(
	[ID STRANA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 09.12.2022 15:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID CLIENT] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Familia] [nvarchar](max) NULL,
	[Otchestvo] [nvarchar](max) NULL,
	[Tel] [nvarchar](max) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID CLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOTRUDNIKI]    Script Date: 09.12.2022 15:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOTRUDNIKI](
	[ID SOTRUDNIKA] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Familia] [nvarchar](max) NULL,
	[Otchestvo] [nvarchar](max) NULL,
	[Dolznost] [nvarchar](max) NULL,
 CONSTRAINT [PK_SOTRUDNIKI] PRIMARY KEY CLUSTERED 
(
	[ID SOTRUDNIKA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STRANA]    Script Date: 09.12.2022 15:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRANA](
	[ID STRANA] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_STRANA] PRIMARY KEY CLUSTERED 
(
	[ID STRANA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BILET/PRICE] ([ID STRANA], [Name], [Price], [Kyda], [Otkyda], [Vrema otpravki], [ID SOTRUDNIKA], [ID CLIENT], [ID BILETA]) VALUES (1, N'France-England', N'10000', N'England', N'France', N'17:00', 1, 1, 1)
INSERT [dbo].[BILET/PRICE] ([ID STRANA], [Name], [Price], [Kyda], [Otkyda], [Vrema otpravki], [ID SOTRUDNIKA], [ID CLIENT], [ID BILETA]) VALUES (2, N'England-Germany', N'20000', N'Germany', N'England', N'18:00', 2, 2, 2)
INSERT [dbo].[BILET/PRICE] ([ID STRANA], [Name], [Price], [Kyda], [Otkyda], [Vrema otpravki], [ID SOTRUDNIKA], [ID CLIENT], [ID BILETA]) VALUES (3, N'France-Germany', N'30000', N'Germany', N'France', N'19:00', 3, 3, 3)
GO
INSERT [dbo].[Client] ([ID CLIENT], [Name], [Familia], [Otchestvo], [Tel]) VALUES (1, N'Sergey', N'Yshakov', N'Olegovich', N'7111111111')
INSERT [dbo].[Client] ([ID CLIENT], [Name], [Familia], [Otchestvo], [Tel]) VALUES (2, N'Daniil', N'Kopanev', N'Olegovich', N'7222222222')
INSERT [dbo].[Client] ([ID CLIENT], [Name], [Familia], [Otchestvo], [Tel]) VALUES (3, N'Tixonov', N'Egor', N'Olegovich', N'7333333333')
GO
INSERT [dbo].[SOTRUDNIKI] ([ID SOTRUDNIKA], [Name], [Familia], [Otchestvo], [Dolznost]) VALUES (1, N'Ivan', N'Ivanov', N'Ivanoviz', N'Dirketor')
INSERT [dbo].[SOTRUDNIKI] ([ID SOTRUDNIKA], [Name], [Familia], [Otchestvo], [Dolznost]) VALUES (2, N'Ivan', N'Vanko', N'Ivanoviz', N'Menedger')
INSERT [dbo].[SOTRUDNIKI] ([ID SOTRUDNIKA], [Name], [Familia], [Otchestvo], [Dolznost]) VALUES (3, N'Ivan', N'Zhma', N'Ivanoviz', N'Registrator')
GO
INSERT [dbo].[STRANA] ([ID STRANA], [Name]) VALUES (1, N'England')
INSERT [dbo].[STRANA] ([ID STRANA], [Name]) VALUES (2, N'Germany')
INSERT [dbo].[STRANA] ([ID STRANA], [Name]) VALUES (3, N'France')
GO
ALTER TABLE [dbo].[BILET/PRICE]  WITH CHECK ADD  CONSTRAINT [FK_BILET/PRICE_Client1] FOREIGN KEY([ID CLIENT])
REFERENCES [dbo].[Client] ([ID CLIENT])
GO
ALTER TABLE [dbo].[BILET/PRICE] CHECK CONSTRAINT [FK_BILET/PRICE_Client1]
GO
ALTER TABLE [dbo].[BILET/PRICE]  WITH CHECK ADD  CONSTRAINT [FK_BILET/PRICE_SOTRUDNIKI1] FOREIGN KEY([ID SOTRUDNIKA])
REFERENCES [dbo].[SOTRUDNIKI] ([ID SOTRUDNIKA])
GO
ALTER TABLE [dbo].[BILET/PRICE] CHECK CONSTRAINT [FK_BILET/PRICE_SOTRUDNIKI1]
GO
ALTER TABLE [dbo].[BILET/PRICE]  WITH CHECK ADD  CONSTRAINT [FK_BILET/PRICE_STRANA] FOREIGN KEY([ID STRANA])
REFERENCES [dbo].[STRANA] ([ID STRANA])
GO
ALTER TABLE [dbo].[BILET/PRICE] CHECK CONSTRAINT [FK_BILET/PRICE_STRANA]
GO
USE [master]
GO
